<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>게시물 상세</title>
    <link href="/main.css" rel="stylesheet">
    <link href="/detail.css" rel="stylesheet">
    <link href="/comment.css" rel="stylesheet">
</head>
<body>

<div class="detail">
    <h2 th:text="${data.title}">상품명</h2>
    <div th:each="img : ${data.imgurl}">
        <img th:if="${img != null and img != ''}" th:src="${img}" alt="Image" onerror="this.src='https://placehold.co/300'" />
    </div>
    <article th:text="${data.desc}" id="desc">설명</article>
    <p th:text="${data.stock} + '개 남음'">재고</p>
    <p th:text="${data.price} + '원'">가격</p>
</div>

</body>
</html>